.market-place {
  .market-place-not-found p {
    padding: 20px;
  }

  .market-place-pagination {

    & > div {
      margin-bottom: 20px;
    }

    .backward  {
      float: left;
    }

    .forward {
      float: right;
    }
  }
}