.market-menu {
  h3 {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 0;
    padding: 20px 20px 0 20px;
    font-weight: bold;
    color: #333333;
  }

  .genre-list {
    list-style: none;
    padding: 20px 0;
  }

  .genre-list li {
    border-bottom: $main-border;
    padding: 0 20px;
  }

  .genre-list li:first-child {
    border-top: $main-border;
  }

  .genre-list li:hover,
  .genre-list li.active
  {
    background-color: $light-blue-color;
  }

  .genre-list li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    width: 100%;
    display: block;
    height: 35px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #585858;
    text-decoration: none;
  }

  .genre-list li:hover a,
  .genre-list li.active a
  {
    color: #f64a35;
  }
}