<div class="col-sm-3 logo">
    <a routerLink="/"><img src="/assets/images/branding/logo.png" width="80%"></a>
</div>
<div class="col-sm-9">
    <div class="row">
        <nav class="navbar">
            <div class="container-fluid header-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse header-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLink="/all">Главная</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <cart-component></cart-component>
                        </li>
                        <li class="account">
                            <account-component></account-component>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
</div>
<!--
<div class="col-sm-3 logo">
    <a routerLink="/"><img src="/assets/images/branding/logo.png" width="80%"></a>
</div>
<div class="col-sm-push-5 col-sm-4">
    <div class="row">
        <div class="material-panel">
            <cart-component></cart-component>
            <a href="#" class="account">
                <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/0f/0f3d63766954e2153f6c8acaa71bc91a503f4725_medium.jpg">
            </a>
        </div>
    </div>
</div>-->
