<div class="col-sm-3 logo">
    <a routerLink="/"><img src="/assets/images/branding/logo.png" width="80%"></a>
</div>
<div class="col-sm-push-5 col-sm-4">
    <div class="row">
        <div class="material-panel">
            <cart-component></cart-component>
            <a href="#" class="account">
                <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/0f/0f3d63766954e2153f6c8acaa71bc91a503f4725_medium.jpg">
            </a>
        </div>
    </div>
</div>