
    <div *ngIf="isAuthorized; then authBlock else noAuthBlock"></div>
    <ng-template #authBlock>
        <a href="#">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/0f/0f3d63766954e2153f6c8acaa71bc91a503f4725_medium.jpg">
        </a>
    </ng-template>
    <ng-template #noAuthBlock>
        <a href="/auth/steam" title="Авторизоваться через Steam">
            <img src="/assets/images/icons/steam-logo.svg" [ngStyle]="{width: '64px'}">
        </a>
    </ng-template>
