<div *ngIf="isLoading; then loadingBlock else loadedBlock"></div>

<ng-template #loadedBlock>
    <div *ngIf="isAuthorized; then authBlock else noAuthBlock"></div>
    <ng-template #authBlock>
        <a href="#">
            <img src="{{ authorizedUser.avatar }}">
        </a>
    </ng-template>
    <ng-template #noAuthBlock>
        <a href="/auth/steam" title="Авторизоваться через Steam">
            <img src="/assets/images/icons/steam-logo.svg" [ngStyle]="{width: '64px'}">
        </a>
    </ng-template>
</ng-template>

<ng-template #loadingBlock>
    <loading-component [type]="'small'" [width]="64" [margin]="'0 15px 0 0'"></loading-component>
</ng-template>