.app-component {
  .material-panel {
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 0 rgba(30, 38, 44, .25);
    box-shadow: 0 0 2px 0 rgba(30, 38, 44, .25);
    display: block;
    width: 100%;
  }
}