.cart-header {

	.header-container {
		.header-navbar {
			background: white;
			-webkit-box-shadow: 0 0 2px 0 rgba(30, 38, 44, .25);
			box-shadow: 0 0 2px 0 rgba(30, 38, 44, .25);
			padding-left: 0;

			ul {
				& > li {
					&.active > a, & > a:hover {
						color: $orange-color;
						background-color: $light-blue-color;
					}

					& > a {
						padding-top: 22px;
						padding-bottom: 22px;
						font-family: 'Roboto', Arial, sans-serif;
						text-transform: uppercase;
						color: #585858;
						font-weight: bold;
						border-right: $main-border;
					}
				}
			}
		}
	}

	.logo img {
		padding: 20px 10px 20px 0;
	}

	.account {
		float: left;
		padding: 0;

		a {
			padding: 0 !important;

			& > img {
				width: 64px;
			}
		}
	}

	.cart-container {
		font-family: 'Roboto', sans-serif;
		background: #fff;
		padding: 10px 20px;
		float: left;
		min-width: 240px;
		height: 64px;

		.cart-button {
			font-size: 16px;
			display: block;
			margin-top: 7px;
			color: #333;

			i {
				float: left;
				margin-right: 10px;
				color: #f64a35;
				font-size: 24px;
			}

			&:hover {
				i {
					color: #d64a35;
				}

				p {
					text-decoration: underline;
				}
			}

			p {
				line-height: 2;
			}

			.price {
				float: right;
				display: inline;
				font-size: 20px;
				line-height: 1.5;
			}

		}
	}
}