<div class="material-panel">
    <h3>Аккаунт</h3>
    <ul class="genre-list">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile">Профиль</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile/games">Мои игры</a></li>
        <li routerLinkActive="active"><a routerLink="/profile/invoices">Заказы</a></li>
        <li class="danger"><a href="/logout">Выйти из аккаунта</a></li>
    </ul>
</div>