<div class="cart-container">

    <div *ngIf="isLoading; then loadingBlock else loadedBlock"></div>

    <ng-template #loadedBlock>
        <a routerLink="/cart" class="cart-button">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            <div *ngIf="products.length > 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <p>{{ products.length }} игры <span class="price">{{ totalSum }} руб.</span></p>
            </ng-template>
            <ng-template #elseBlock>
                <p>Корзина пустая</p>
            </ng-template>
        </a>
    </ng-template>

    <ng-template #loadingBlock>
        <loading-component [type]="'small'" [width]="44" [margin]="'0 10px 0 0'" [loadingText]="'Загрузка корзины ...'"></loading-component>
    </ng-template>
</div>
