.btn {
	border-radius: 0;

	&.btn-success {
		background-color: #f64a35;
		border-color: #da3825;

		&:hover {
			background-color: #f62727;
			border-color: #da3825;
		}

	}

	&.btn-transparent {
		background: transparent;
		border: none;

		&:hover, &:active, &:focus {
			background: transparent;
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
}