<div class="material-panel">
    <h3>Жанры</h3>
    <ul class="genre-list">
        <li routerLinkActive="active"><a routerLink="/market/all">Все</a></li>
        <li routerLinkActive="active"><a routerLink="/market/race">Гонки</a></li>
        <li routerLinkActive="active"><a routerLink="/market/indie">Инди</a></li>
        <li routerLinkActive="active"><a routerLink="/market/mmo">MMO</a></li>
        <li routerLinkActive="active"><a routerLink="/market/strategy">Стратегии</a></li>
    </ul>
</div>